<!DOCTYPE html>
<html>
<head>
  <title>HidUi</title>
  <%= stylesheet_link_tag    "hid_ui/application", :media => "all" %>
  <%= javascript_include_tag "hid_ui/application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
